@model SupCountFE.MVC.ViewModels.Category.CreateCategoryVM
<link rel="stylesheet" href="~/css/form-style.css" />
@{
    ViewData["Title"] = "Create Category";
}

<div class="container mt-5" style="max-width: 600px;">
    <h3 class="mb-4">Create Category</h3>

    <form asp-action="Create" method="post">
       

        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter category name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
        <a asp-action="List" class="btn btn-outline-secondary btn-block mt-2">Cancel</a>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}