@model CreateExpenseVM

@{
    ViewData["Title"] = "Create Expense";
}

<div class="container mt-5" style="max-width: 600px;">
    <h3 class="mb-4">Create Expense</h3>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title" class="font-weight-bold"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Amount" class="font-weight-bold"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date" class="font-weight-bold"></label>
            <input asp-for="Date" type="date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GroupId">Group</label>
            <select asp-for="GroupId" asp-items="@Model.GroupsItems" class="form-control">
                <option value="">-- Select Group --</option>
            </select>
            <span asp-validation-for="GroupId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" asp-items="@Model.CategoriesItems" class="form-control">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Justification</label><br />
            <input type="file" asp-for="Justifications" multiple  class="form-control-file" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text text-danger mt-2">

        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
        <a asp-action="List" class="btn btn-outline-secondary btn-block mt-2">Cancel</a>
    </form>
</div>



@section ExpenseCreateCSS {
    <link rel="stylesheet" href="~/css/form-style.css" />
}

