@model IList<JustificationExepnseVM>

@{
	ViewData["Title"] = "Justifications";
}

<div class="container mt-4">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h2>Justifications</h2>
		<a class="btn btn-outline-primary" asp-action="Create">+ New Expense</a>
	</div>

	<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Title</th>
				<th>Type</th>
				<th>File Content </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var justification in Model)
			{
				<tr>
					<td>@justification.ExpenseTitle</td>
					<td>@justification.Type</td>
					<td>
						<a asp-action="Dwonload" asp-route-Base64String="@justification.FileContent" target="_blank">Downalod</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
</div>


@section ExpenseCSS {
	<link rel="stylesheet" href="~/css/form-style.css" />
}

